:root{
    --color-design: rgba(238, 189, 54, 1);
    --color-drag: rgba(238, 189, 54, 0.6);
    --color-font-base: #333;
    --color-font-gray-light: #999;
    --color-gray-bg: rgba(240, 240, 240, 1);
    --color-gray-ccc: #ccc;
    --color-serach-placeholder: rgb(255, 254, 248);
    --color-trash-dragover: crimson;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--color-font-base);
}
.hide{
    display: none;
}
.show{
    display: block;
}
.drag{
    background-color: var(--color-drag) !important;
    color: #fff;
}
#trash-btn.color-trash-dragover{
    color: var(--color-trash-dragover);
}
i{
    cursor: pointer;
}
#note-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: var(--color-gray-bg);
    padding: 2rem;
}
#ricerca-note{
    position: fixed;
    /* inset è una shorcut e specifica in ordine: top, left-right, bottom */
    inset: 0 0 calc(100vh - 50px);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ricerca-note #ricerca{
    border: none;
    outline: none;
    padding: 0.4rem 1.2rem;
    background-color: var(--color-gray-ccc);
    width: 80%;
    color: #fff;
    border-radius: 2rem;
    font-weight: bold;
}
#ricerca::placeholder{
    font-weight: normal;
    color: var(--color-serach-placeholder);
}
#note{
    display: grid;
    grid-template-columns: 1fr 1fr; /*1fr = 1 frazione dello spazio disponibile*/
    grid-gap: 1rem;
    align-content: flex-start;
    height: calc(100vh - 160px);
    margin-top: 50px;
}
#note > .nota{
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 0.6rem;
}
/* CONTROLLI */
#controlli{
    position: fixed;
    inset: calc(100vh - 60px) 0 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
#sound-btn{
    color: var(--color-design);
}
#new-note-btn{
    border: none;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--color-design);
    color: #fff;
    border-radius: 50%;
}
/* schermata nuova note */
#new-note-wrapper{
    position: fixed;
    inset: 0;
    padding: 5vh 5vw;
    background-color: #fff;
    transition: all .5s;
}
#new-note-wrapper.close{
    margin-left: 100vw;
}
#new-note-wrapper.open{
    margin-left: 0;
}
#new-note-titolo-wrapper, #new-note-testo-wrapper{
    width: 100%;
}
#new-note-titolo{
    outline: none;
    border: none;
    width: 100%;
    padding: 0.6rem;
    border-bottom: 1px solid var(--color-gray-ccc);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
#new-note-testo{
    outline: none;
    border: none;
    width: 100%;
    padding: 0.6rem;
    resize: none;
    height: 60vh !important;
}
#save-close-wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}